h1 {
    background-color:red;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h2 {
    background-color:yellow;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #primeiro {
    background-color:blue;
  }
  
  .escolhido{
    background-color:green;
  }
  
  p {
    background-color:rgb(231, 196, 79);
  }

  .custom-blue-button {
    background-color: #007bff;
    color: white;
  }
  .input-group-container {
    max-width: 300px;
    margin-right: 20px; /* Ajuste a margem conforme necessário */
  }