h1 {
    background-color:red;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h2 {
    background-color:yellow;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #primeiro {
    background-color:blue;
  }
  
  .header{
    background-color:rgb(120, 209, 112);
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    padding: 5px 10px;
  }
  
  p {
    background-color:rgb(231, 196, 79);
  }

  .custom-blue-button {
    background-color: #007bff;
    color: white;
  }
  .input-group-container {
    max-width: 30%;
    margin-right: 5%; /* Ajuste a margem conforme necessário */
  }


  /* assets/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
