<!-- templates/index.html -->
{% extends 'base.html' %}

<!-- Title page -->
{% block title %}Dashboard{% endblock %}

<!-- Header page-->
{% block header %}{% endblock %}

<!-- Conteúdo da página -->
{% block content %}
    
    <!-- Linha de separação -->
    <div><hr></div>
        
        <div class="container">
        <!-- Botão home -->
        <div>
            <a href="{{ url_for('index') }}">
                <i class="fa-solid fa-house" style="color: #007bff; font-size: 40px; margin-left: 20px;"></i>
            </a>
        </div>
        <hr size="1" style="border:1px dashed rgb(41, 158, 30);">
        <!-- Indicadores econômicos -->
        <div class="row justify-content-center">
            <!-- Exibe numeros de ativos -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nº de Ativos</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_colunas }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-chart-column text-gray-600 fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exibe inflação -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">IPCA</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_colunas }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-chart-column text-gray-600 fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exibe taxa de juros selic -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">SELIC</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_colunas }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-chart-column text-gray-600 fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- Renderiza o gráfico Plotly -->
        <hr size="1" style="border:1px dashed rgb(41, 158, 30);">
        <!-- <h3>Preços de ações</h3> -->
        {{ graph_price_html | safe }}
        
        <!-- Gráfico de Barras -->
        <hr size="1" style="border:1px dashed rgb(41, 158, 30);">
        <!-- <h3>Gráfico de Barras Empilhadas</h3> -->
        {{ graph_yield_html | safe }}
    </div>
    <!-- Linha de separação -->
    <div><hr></div>
{% endblock %}
