<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transformação dos Dados</title>
</head>
<body>
    <h1>Transformação dos Dados</h1>
    <table border="1">
        <tr>
            {% for column in data[0].keys() %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Voltar à Lista de Ações</a>
</body>
</html>
